@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  max-width: 1920px;
  margin: 0px auto;
}
body > * {
  margin-left: 4%;
  margin-right: 4%;
}

.HeadContainer {
  display: flex;
  justify-content: flex-end;
  font-weight: 600;
}

.logo {
  margin-right: auto;
}

a {
  text-decoration: none; /* no underline */
}

#signin {
  color: #0065fc;
}
.mr {
  margin-right: 3%;
}
.navlink {
  border-top: solid;
  border-color: transparent;
  display: flex;
  align-items: center;
}
.navlink a {
  vertical-align: baseline;
  padding: 0 20px 0 20px;
  color: #242424;
}
.navlink:hover {
  border-top: solid;
  color: #0065fc;
}
.navlink:hover a {
  color: #0065fc;
}

/*  */

.text {
  font-size: 0.7em;
}
.text p {
  font-size: 1.4em;
}
/* à corriger */
form {
  display: flex;
  border: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 15px;
  width: fit-content;
  overflow: hidden;
}
button {
  display: none;
}

form > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: #f2f2f2;
}

div > i {
  font-size: 1.2em;
}

form > input {
  font-family: "Raleway";
  font-weight: 600;
  font-size: medium;
  outline: none;
  border: solid;
  border-color: #f2f2f2;
  border-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
}

input[type="submit"]:hover {
  background-color: #0065fc;
  color: white;
}

.filter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 3%;
  width: 55%;
  font-weight: 600;
  font-size: 1.2em;
}

/* Z-index solution ? */

.theme {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-color: #f2f2f2;
  border-width: 2px;
  border-radius: 35px;
  z-index: -1;
  overflow: visible;
}

.bulle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0065fc;
  width: 45px;
  border-radius: 100%;
  background-color: #deebff;
}

.bulle > i {
  padding: 10px;
}
/* taille icone */

.name {
  padding-left: 10px;
  padding-right: 10px;
}

/* informations */

.info {
  display: flex;
  align-items: center;
}
.info > p {
  padding-left: 1%;
}

.info > i {
  color: #0065fc;
  font-size: small;
  border: solid;
  border-width: 2px;
  border-radius: 50%;
  border-color: #f2f2f2;
  padding: 3px 7px 3px 7px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.topContent > * {
  background-color: #f2f2f2;
  border-radius: 20px;
}

/* carte hebergement */

.heberg {
  width: 65%;
}

.heberg > h2 {
  margin: 2% 4.5% 0% 4.5%;
}

.grid6 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0% 4.5%;
}

.cardH {
  background-color: white;
  box-shadow: 0px 0px 10px gray;
  width: 30%;
  height: auto;
  margin-top: 2%;
  border-radius: 20px;
  color: black;
}

.cardH > * {
  margin: 2% 2%;
}
.fa-star {
  font-size: 0.8em;
  margin: 0;
  color: #0065fc;
}

/* .grey {
 
  color: #f2f2f2 !important;
}

*/

.fit {
  width: 96%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  height: 120px;
}

.fit > img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}
.more {
  margin: 2% 4.5%;
}
.more > a {
  font-weight: 600;
  font-size: 1em;
  color: black;
}

/* carte les plus populaires */
.trend {
  width: 31%;
}

.trendTitle {
  margin: 2% 10.5% 0% 10.5%;
  display: flex;
  justify-content: space-between;
}

.fa-chart-line {
  margin: auto 2%;
}

.grid3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0% 10.5% 3% 10.5%;
}

.cardL {
  display: flex;
  background-color: white;
  box-shadow: 0px 0px 10px gray;
  border-radius: 20px;
  color: black;
  margin-top: 5%;
  padding: 1%;
}

.fit2 {
  width: 37%;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 125px;
}
.three > * {
  margin: 2% 0px;
}
.fit2 > img {
  width: 100%;
  height: 125px;
  object-fit: cover;
}

.three {
  position: relative;
  margin-left: 2%;
  margin-top: 2%;
}

.three > div {
  position: absolute;
  bottom: 10%;
}

/* activités */

.titleAct > h1 {
  font-size: 1.5em;
}

.listAct {
  border-radius: 0%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: transparent;
}

.bar {
  overflow: hidden;
  padding: 0 0;
  width: 22%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px gray;
}

.bar2 {
  padding: 0 0;
  width: 22%;
  border-radius: 20px;
}

.img1 > img {
  height: 400px;
}

.h4title > h4 {
  margin: 2% 5%;
  color: black;
}

.img2 {
  height: 200px;
  overflow: hidden;
}

.img2 > img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.img3 {
  height: 125px;
  overflow: hidden;
}

.img3 > img {
  height: 400px;
  object-fit: cover;
}

.mini {
  overflow: hidden;
  padding: 0 0;
  border-radius: 20px;
  box-shadow: 0px 0px 10px gray;
}

.mini2 {
  margin-top: 50px;
  overflow: hidden;
  padding: 0 0;
  border-radius: 20px;
  box-shadow: 0px 0px 10px gray;
}

/* footer */

footer {
  margin-left: 0%;
  margin-right: 0%;
  padding-left: 4%;
  margin-top: 2%;
  display: flex;
  background-color: #f2f2f2;
  justify-content: space-between;
}

.footc {
  width: 30%;
}

.footc > * {
  color: black;
}

/* piggy family romantic animal  ?? */
.theme:hover {
  box-shadow: 0px 0px 10px #0065fc;
}

/* responsive  */

@media screen and (max-width: 1680px) {
  .content {
    flex-wrap: wrap;
  }
  .filter {
    width: 70%;
  }
}

/* ipad */

@media screen and (max-width: 1024px) {
  .HeadContainer {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
  }
  .filter {
    width: 100%;
  }
  .logo {
    margin-right: 0%;
  }
  .theme {
    margin-top: 2%;
  }
  .heberg {
    margin-top: 2%;
    order: 2;
    width: 100%;
  }
  .cardH {
    width: 30%;
  }

  .grid3 {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .trend {
    order: 1;

    width: 100%;
  }
  .cardL {
    width: 45%;
    height: 125px;
  }
  .fit2 {
    height: 125px;
  }
  .fit2 > img {
    width: 200%;
  }
}

@media only screen and (max-width: 420px) {
  .HeadContainer {
    flex-wrap: wrap;

    margin: 0%;
  }
  .logo {
    width: 50%;
  }
  .logo > * {
    width: 50%;
    padding: 2%;
  }
  .navlink {
    width: 50%;
    margin: 0%;
  }

  #one {
    order: 1;
  }
  #two {
    order: 2;
    justify-content: flex-end;
  }

  #three {
    order: 3;
    padding-bottom: 2%;
    border-bottom: solid;
    color: #f2f2f2;
    border-width: 2px;
    font-size: 0.8em;
    justify-content: center;
  }

  #three:hover {
    border-top: transparent;
    border-bottom: solid;
    color: #0065fc;
    padding-bottom: 2%;
    border-width: 2px;
  }

  #four {
    order: 4;
    padding-bottom: 3%;
    border-bottom: solid;
    color: #f2f2f2;
    border-width: 2px;
    font-size: 0.8em;
    justify-content: center;
  }

  #four:hover {
    border-top: transparent;
    border-bottom: solid;
    color: #0065fc;
    padding-bottom: 3%;
    border-width: 2px;
  }

  .text {
    padding: 4%;
    font-size: 0.5em;
  }

  form {
    width: 100%;
    overflow: hidden;
    border: solid;
    border-color: #f2f2f2;
    border-width: 2px;
  }

  .filter {
    margin-top: 20px;
  }
  .filter > div {
    width: 100%;
  }
  .filter > * {
    margin-bottom: 10px;
  }
  .map {
    padding-left: 5px;
    padding-right: 5px;
  }
  form > div {
    width: 20%;
  }

  input[type="submit"] {
    display: none;
  }

  button {
    display: block;
    border-color: transparent;
    background-color: #0065fc;
    color: white;
    width: 20%;
    border-radius: 10px;
    overflow: visible;
  }
  button:hover {
    color: #f2f2f2;
  }
  input[type="text"] {
    width: 80%;
    border: none;
  }

  .cardL {
    width: 100%;
  }

  .content {
    font-size: 0.5em;
  }

  .cardL {
    height: 80px;
  }

  .fit2 {
    height: 80px;
  }

  .heberg {
    background-color: white;
  }
  .grid6 {
    flex-wrap: wrap;
  }
  .cardH {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 2%;
    height: 130px;
  }
  .fit {
    height: 70px;
  }

  .content2 {
    margin-top: 5%;
    font-size: 0.5em;
  }
  .titleAct {
    margin: 5% 0%;
  }
  .listAct {
    flex-wrap: wrap;
  }
  .bar,
  .bar2 {
    width: 100%;
    margin-bottom: 5%;
  }

  .bar {
    height: 130px;
  }

  .img1 {
    overflow: hidden;
    height: 100px;
  }

  .bar2 {
    height: 260px;
  }

  .img2 {
    overflow: hidden;
    height: 100px;
  }
  .img3 {
    overflow: hidden;
    height: 100px;
  }
  .mini2 {
    margin-top: 5%;
  }

  footer {
    flex-wrap: wrap;
  }
  .footc {
    width: 100%;
  }

  img {
    object-position: 0px -10px;
  }
}
