
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    
}

body{
    margin: 0px 3% 0px  3%;
}

.HeadContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-weight: 600;
    
}

.logo{
    margin-right: auto; 
}


a {
    text-decoration: none; /* no underline */
  }

#signin{
    color:#0065FC;
}
.mr{
    margin-right: 3%;
}
.navlink{
   display: flex;
   align-items: center;
    
}
.navlink a{
    vertical-align: baseline;
    padding: 0 20px 0 20px;
 }
.navlink:hover{
    border-top: solid;
    color:#0065FC;
}
.navlink:hover a{
    color:#0065FC;
    
}

/*  */ 

.text{
    font-size:0.7em;
}
.text p{
    font-size:1.4em;
}
/* à corriger */
form{
    
    display: flex;
    border:solid;
    border-width: 1px;
    border-color: white;
    border-radius: 15px;
    width: fit-content;
    overflow: hidden;
}

form > div {
    display: flex;
    justify-content: center;
  align-items: center;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #F2F2F2;

}

div > i {
    font-size: 1.3em;
    
}

form > input {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: medium;
    outline: none;
    border:solid;
    border-color:#F2F2F2 ;
    border-width: 1px;
border-left-width: 0px;
border-right-width: 0px;
}

input[type="submit"]:hover{
    background-color: #0065FC;
    color: white;
    
}

.filter{
    
    display: flex;
    align-items: center;
    margin-top: 3%;
    font-weight: 600;
    font-size: 1.2em;
}


/* Z-index solution ? */ 

.theme{
    display: flex;
  justify-content: center;
  align-items: center;
    margin-left: 2%;
    border:solid;
    border-color:#F2F2F2 ;
    border-width: 2px;
    border-radius: 35px;
    z-index: -1;
    overflow: visible;
}

.bulle{
    display: flex;
  justify-content: center;
  align-items: center;
    color: #0065FC ;
    width: 45px;
    border-radius: 100%;
    background-color:#DEEBFF;
    z-index: 1;
}

.bulle>i{
    padding: 10px;
}
/* taille icone */

.name{
    padding-left: 10px;
    padding-right: 10px;
}

/* informations */

.info{
    display: flex;
    align-items: center;
}
.info > p{
    
    padding-left: 1%;}

.info > i{
    color: #0065FC ;
    font-size: small; 
    border:solid;
    border-width:2px ;
    border-radius: 50%;
    border-color:#F2F2F2 ;
    padding: 1px 2px 1px 2px;
    

}

    